*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/gitam-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: left;
	list-style-type: none;
     margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
    transition: 0.6s ease;

}



ul li a:hover{
	background-color: #fff;
	color: #000;
}


.logo img{
	float: right;
	width: 100px;
	height: auto;

}
.main{
	max-width: 1600px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 60px;
}

.button{
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: o.6s ease;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}


* {box-sizing: border-box}


.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: auto;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 30 50px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
	background-color: transparent;
	color:black;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid black; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
}


input[type=submit] {
  background-color: #04AA6D;
  color:black;
  padding: 12px 20px;
  border: black;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.bgh {
  
  height: 10vh;
	background-size: cover;
	background-position: center;
  
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: black;
}



.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

.bg {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}


.LOGIN {
  float:right;
  background-color: transparent;
  padding: 25px ; 
  
}



