{% extends "layout.html" %}
    {% block main_content %}
    <div>
        <div class="bg">
          <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">GUSAC</h1>
        </div>
        
      <form action="{{ url_for("formOutput")}}" method="POST">
        
          <div class="container">
            
            
            <p>Please fill in this form to create an account.</p>
            <hr>
            <p> All the activities on Science and Engineering related to live projects and working models are encouraged under the umbrella of GITAM University Science Activity Centre (GUSAC), Bengaluru Campus. </p>
            <hr>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
            <hr>
        
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button>
          </div>
        
          <div class="container signin">
            <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
          </div>
        </form>
      </div>
      <a href="{{ url_for('home') }}">Back</a>
     </div>
	  {%endblock%}
